pytchat
pandas==2.1.0
requests
python-dotenv
pafy
youtube-dl
google-api-python-client
sqlalchemy==1.4.54
openai==1.58.1
transformers==4.47.1
torch==2.1.0
scikit-learn
numpy==1.26.0
typing_extensions==4.12.2